<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crossover.auctionsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ViewItemsInAuctionActivity" />
        <activity android:name=".activities.AddItemInAuctionActivity" />
        <activity android:name=".activities.BidOnItemActivity" />
        <activity android:name=".activities.SubmittedItemsForAuctionActivity" />
        <activity android:name=".activities.ViewAllBidsOnItemActivity"></activity>
    </application>

</manifest>